// Import Colors
@import 'variables.scss';

div#uebersicht {
  background-color: var(--bg);
  color: var(--fg);
  font: var(--fontsize) var(--font);
  height: var(--height);
  position: absolute;
}

.screen {
  width: var(--width);
  height: var(--height);

  div {
    position: absolute;
  }
}

%bar-top {
  top: 3px;
}

%bar-bottom {
  bottom: 3px;
}

.battery {
  @extend %bar-top;
  right: 108px;
}

.chunkwm-focused {
  @extend %bar-top;
  left: 3px;
}

.chunkwm-monitor {
  @extend %bar-bottom;
  left: 3px;
}

.spotify {
  @extend %bar-bottom;
  right: 3px;
}

.toggl {
  @extend %bar-top;
  right: 150px;
}

.date {
  @extend %bar-top;
  right: 3px;
}

.notify {
  @extend %bar-top;
  animation: fadeIn 10000ms ease-in-out 0 forwards;
  left: 50%;
  transform: translateX(-50%);
}

* {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}

.active {
  color: var(--fg);
}

.not-active {
  color: var(--notactive);
}

@keyframes fadeIn {
  0%, 100% { 
    opacity: 0;
  }

  5%, 95% {
    opacity: 1;
  }
}
