// Import pywal colors
@import '/Users/shsiang/.cache/wal/colors.scss';

:root {
  // Dimensions
	--width: 100vw;
	--height: 30px;

  // Colors
	--bg: #{$background};
	--fg: #{$foreground};
  --active: #{foreground};
  --notactive: #{$color5};

  // Fonts	
	--font: Optima; /* 'Ubuntu Mono', 'Inconsolata for Powerline', 'Space Mono for Powerline', 'IBM Plex Mono'; */
	--fontsize: 10px;
}
