:root {
  --width: 100vw;
  --height: 30px;
  --bg: #061A37;
  --fg: #e7ebed;
  --active: foreground;
  --notactive: #A4B5D1;
  --font: Optima;
  /* 'Ubuntu Mono', 'Inconsolata for Powerline', 'Space Mono for Powerline', 'IBM Plex Mono'; */
  --fontsize: 10px;
}

div#__uebersicht {
  background-color: var(--bg);
  color: var(--fg);
  font: var(--fontsize) var(--font);
  height: var(--height);
  position: absolute;
}

.screen {
  width: var(--width);
  height: var(--height);
}

.screen div {
  position: absolute;
}

.battery, .chunkwm-focused, .toggl, .date, .notify {
  top: 3px;
}

.chunkwm-monitor, .spotify {
  bottom: 3px;
}

.battery {
  right: 108px;
}

.chunkwm-focused {
  left: 3px;
}

.chunkwm-monitor {
  left: 3px;
}

.spotify {
  right: 3px;
}

.toggl {
  right: 150px;
}

.date {
  right: 3px;
}

.notify {
  animation: fadeIn 10000ms ease-in-out 0 forwards;
  left: 50%;
  transform: translateX(-50%);
}

* {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.active {
  color: var(--fg);
}

.not-active {
  color: var(--notactive);
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  5%, 95% {
    opacity: 1;
  }
}
